In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Meat Production Data

In [4]:
df = pd.read_csv('../data/raw/meat_production_by_type.csv')

In [5]:
df

,Entity,Code,Year,"Meat, game | 00001163 || Production | 005510 || tonnes","Meat, horse | 00001097 || Production | 005510 || tonnes","Meat, camel | 00001127 || Production | 005510 || tonnes","Meat, sheep and goat | 00001807 || Production | 005510 || tonnes","Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes","Meat, pig | 00001035 || Production | 005510 || tonnes","Meat, poultry | 00001808 || Production | 005510 || tonnes"
0,Afghanistan,AFG,1961,4000.00,NaN,3600.00,73220.00,43000.00,NaN,5600.00
1,Afghanistan,AFG,1962,4000.00,NaN,4030.74,72375.00,45800.00,NaN,6000.00
2,Afghanistan,AFG,1963,5000.00,NaN,5031.36,75530.00,47250.00,NaN,6160.00
3,Afghanistan,AFG,1964,5000.00,NaN,4680.00,79750.00,48000.00,NaN,6400.00
4,Afghanistan,AFG,1965,6000.00,NaN,4320.00,84375.00,48700.00,NaN,6800.00
...,...,...,...,...,...,...,...,...,...,...
14085,Zimbabwe,ZWE,2017,35804.70,NaN,NaN,26537.31,609788.00,11479.25,92300.32
14086,Zimbabwe,ZWE,2018,35721.81,NaN,NaN,28097.57,616480.00,9555.82,103480.91
14087,Zimbabwe,ZWE,2019,35686.72,NaN,NaN,32425.14,629189.00,10648.16,114520.91
14088,Zimbabwe,ZWE,2020,35755.19,NaN,NaN,27629.93,628746.00,10104.50,111723.05
14089,Zimbabwe,ZWE,2021,35823.66,NaN,NaN,30592.00,806293.75,10777.57,113177.77

In [31]:
# Lista de entidades que son continentes, regiones o categorías de ingresos y que deben ser eliminadas
non_country_entities = [
    "Africa", "Africa (FAO)", "Americas (FAO)", "Asia", "Asia (FAO)", "Europe",
    "Europe (FAO)", "Oceania", "Oceania (FAO)", "World", "European Union (27)",
    "European Union (27) (FAO)", "Belgium-Luxembourg (FAO)", "High-income countries",
    "Land Locked Developing Countries (FAO)", "Least Developed Countries (FAO)",
    "Low Income Food Deficit Countries (FAO)", "Low-income countries",
    "Lower-middle-income countries", "Net Food Importing Developing Countries (FAO)",
    "Small Island Developing States (FAO)", "Upper-middle-income countries",
    "Eastern Africa (FAO)", "Eastern Asia (FAO)", "Eastern Europe (FAO)",
    "Middle Africa (FAO)", "Northern Africa (FAO)", "Northern America (FAO)",
    "Northern Europe (FAO)", "South America", "South America (FAO)", "South-eastern Asia (FAO)",
    "Southern Africa (FAO)", "Southern Asia (FAO)", "Southern Europe (FAO)",
    "Western Africa (FAO)", "Western Asia (FAO)", "Western Europe (FAO)",
    "Caribbean (FAO)", "Central America (FAO)", "Central Asia (FAO)", "Melanesia",
    "Micronesia (FAO)", "Polynesia"
]

# Filtrando el conjunto de datos para eliminar estas entidades
df_no_continents = df[~df['Entity'].isin(non_country_entities)]

In [44]:
# Renombrando las columnas
columns_renamed = {
    'Entity': 'Country',
    'Meat, game | 00001163 || Production | 005510 || tonnes': 'Game Meat Production (tonnes)',
    'Meat, horse | 00001097 || Production | 005510 || tonnes': 'Horse Meat Production (tonnes)',
    'Meat, camel | 00001127 || Production | 005510 || tonnes': 'Camel Meat Production (tonnes)',
    'Meat, sheep and goat | 00001807 || Production | 005510 || tonnes': 'Sheep and Goat Meat Production (tonnes)',
    'Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes': 'Beef and Buffalo Meat Production (tonnes)',
    'Meat, pig | 00001035 || Production | 005510 || tonnes': 'Pigmeat Production (tonnes)',
    'Meat, poultry | 00001808 || Production | 005510 || tonnes': 'Poultry Meat Production (tonnes)'
}

production_data = df_no_continents.rename(columns=columns_renamed)

# Eliminando la columna 'Code'
production_data = production_data.drop(columns=['Code'])

production_data

,Country,Year,Game Meat Production (tonnes),Horse Meat Production (tonnes),Camel Meat Production (tonnes),Sheep and Goat Meat Production (tonnes),Beef and Buffalo Meat Production (tonnes),Pigmeat Production (tonnes),Poultry Meat Production (tonnes)
0,Afghanistan,1961,4000.00,NaN,3600.00,73220.00,43000.00,NaN,5600.00
1,Afghanistan,1962,4000.00,NaN,4030.74,72375.00,45800.00,NaN,6000.00
2,Afghanistan,1963,5000.00,NaN,5031.36,75530.00,47250.00,NaN,6160.00
3,Afghanistan,1964,5000.00,NaN,4680.00,79750.00,48000.00,NaN,6400.00
4,Afghanistan,1965,6000.00,NaN,4320.00,84375.00,48700.00,NaN,6800.00
...,...,...,...,...,...,...,...,...,...
14085,Zimbabwe,2017,35804.70,NaN,NaN,26537.31,609788.00,11479.25,92300.32
14086,Zimbabwe,2018,35721.81,NaN,NaN,28097.57,616480.00,9555.82,103480.91
14087,Zimbabwe,2019,35686.72,NaN,NaN,32425.14,629189.00,10648.16,114520.91
14088,Zimbabwe,2020,35755.19,NaN,NaN,27629.93,628746.00,10104.50,111723.05
14089,Zimbabwe,2021,35823.66,NaN,NaN,30592.00,806293.75,10777.57,113177.77

In [45]:
production_data['Total Meat Production (tonnes)'] = production_data[
    ['Game Meat Production (tonnes)',
     'Horse Meat Production (tonnes)',
     'Camel Meat Production (tonnes)',
     'Sheep and Goat Meat Production (tonnes)',
     'Beef and Buffalo Meat Production (tonnes)',
     'Pigmeat Production (tonnes)',
     'Poultry Meat Production (tonnes)']
].sum(axis=1)

production_data

,Country,Year,Game Meat Production (tonnes),Horse Meat Production (tonnes),Camel Meat Production (tonnes),Sheep and Goat Meat Production (tonnes),Beef and Buffalo Meat Production (tonnes),Pigmeat Production (tonnes),Poultry Meat Production (tonnes),Total Meat Production (tonnes)
0,Afghanistan,1961,4000.00,NaN,3600.00,73220.00,43000.00,NaN,5600.00,129420.00
1,Afghanistan,1962,4000.00,NaN,4030.74,72375.00,45800.00,NaN,6000.00,132205.74
2,Afghanistan,1963,5000.00,NaN,5031.36,75530.00,47250.00,NaN,6160.00,138971.36
3,Afghanistan,1964,5000.00,NaN,4680.00,79750.00,48000.00,NaN,6400.00,143830.00
4,Afghanistan,1965,6000.00,NaN,4320.00,84375.00,48700.00,NaN,6800.00,150195.00
...,...,...,...,...,...,...,...,...,...,...
14085,Zimbabwe,2017,35804.70,NaN,NaN,26537.31,609788.00,11479.25,92300.32,775909.58
14086,Zimbabwe,2018,35721.81,NaN,NaN,28097.57,616480.00,9555.82,103480.91,793336.11
14087,Zimbabwe,2019,35686.72,NaN,NaN,32425.14,629189.00,10648.16,114520.91,822469.93
14088,Zimbabwe,2020,35755.19,NaN,NaN,27629.93,628746.00,10104.50,111723.05,813958.67
14089,Zimbabwe,2021,35823.66,NaN,NaN,30592.00,806293.75,10777.57,113177.77,996664.75

In [46]:
production_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11459 entries, 0 to 14089
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    11459 non-null  object
 1   Year                                       11459 non-null  int64
 2   Game Meat Production (tonnes)              3562 non-null   float64
 3   Horse Meat Production (tonnes)             4326 non-null   float64
 4   Camel Meat Production (tonnes)             2131 non-null   float64
 5   Sheep and Goat Meat Production (tonnes)    10907 non-null  float64
 6   Beef and Buffalo Meat Production (tonnes)  11209 non-null  float64
 7   Pigmeat Production (tonnes)                10267 non-null  float64
 8   Poultry Meat Production (tonnes)           11323 non-null  float64
 9   Total Meat Production (tonnes)             11459 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 984.8+ KB

## Meat Consumption Data

In [50]:
df_consume = pd.read_csv("../data/raw/per-capita-meat-consumption-by-type-kilograms-per-year.csv")

In [51]:
df_consume_filtered = df_consume[~df_consume['Entity'].isin(non_country_entities)]

columns_renamed_consumption = {
    'Entity': 'Country',
    'Meat, Other | 00002735 || Food available for consumption | 0645pc || kilograms per year per capita': 'Other Meat Consumption (kg/capita/year)',
    'Meat, sheep and goat | 00002732 || Food available for consumption | 0645pc || kilograms per year per capita': 'Sheep and Goat Meat Consumption (kg/capita/year)',
    'Meat, beef | 00002731 || Food available for consumption | 0645pc || kilograms per year per capita': 'Beef Meat Consumption (kg/capita/year)',
    'Meat, pig | 00002733 || Food available for consumption | 0645pc || kilograms per year per capita': 'Pig Meat Consumption (kg/capita/year)',
    'Meat, poultry | 00002734 || Food available for consumption | 0645pc || kilograms per year per capita': 'Poultry Meat Consumption (kg/capita/year)',
}

consumption_data = df_consume_filtered.rename(columns=columns_renamed_consumption)
consumption_data.drop("Code", axis=1, inplace=True)
consumption_data

,Country,Year,Other Meat Consumption (kg/capita/year),Sheep and Goat Meat Consumption (kg/capita/year),Beef Meat Consumption (kg/capita/year),Pig Meat Consumption (kg/capita/year),Poultry Meat Consumption (kg/capita/year)
0,Afghanistan,1961,0.865845,8.332486,4.889479,NaN,0.641744
1,Afghanistan,1962,0.896969,8.072717,5.106605,NaN,0.672726
2,Afghanistan,1963,1.091328,8.251259,5.160862,NaN,0.673156
3,Afghanistan,1964,1.030673,8.520909,5.132955,NaN,0.683714
4,Afghanistan,1965,1.082147,8.820517,5.094256,NaN,0.714625
...,...,...,...,...,...,...,...
12355,Zimbabwe,2016,2.601678,1.436748,43.684890,1.572656,5.174232
12356,Zimbabwe,2017,2.499662,1.804775,41.403670,0.743143,5.086185
12357,Zimbabwe,2018,2.388530,1.822573,40.988712,0.517995,4.383768
12358,Zimbabwe,2019,2.375002,1.774098,40.975937,0.686748,4.473397
12359,Zimbabwe,2020,2.333349,1.764239,40.122208,0.644991,4.382142

In [53]:
consumption_data['Total Meat Consumption(kg/capita/year)'] = consumption_data[[
    'Other Meat Consumption (kg/capita/year)', 'Sheep and Goat Meat Consumption (kg/capita/year)', 'Beef Meat Consumption (kg/capita/year)', 'Pig Meat Consumption (kg/capita/year)', 'Poultry Meat Consumption (kg/capita/year)']].sum(
    axis=1)

consumption_data

,Country,Year,Other Meat Consumption (kg/capita/year),Sheep and Goat Meat Consumption (kg/capita/year),Beef Meat Consumption (kg/capita/year),Pig Meat Consumption (kg/capita/year),Poultry Meat Consumption (kg/capita/year),Total Meat Consumption(kg/capita/year)
0,Afghanistan,1961,0.865845,8.332486,4.889479,NaN,0.641744,14.729554
1,Afghanistan,1962,0.896969,8.072717,5.106605,NaN,0.672726,14.749017
2,Afghanistan,1963,1.091328,8.251259,5.160862,NaN,0.673156,15.176605
3,Afghanistan,1964,1.030673,8.520909,5.132955,NaN,0.683714,15.368251
4,Afghanistan,1965,1.082147,8.820517,5.094256,NaN,0.714625,15.711545
...,...,...,...,...,...,...,...,...
12355,Zimbabwe,2016,2.601678,1.436748,43.684890,1.572656,5.174232,54.470204
12356,Zimbabwe,2017,2.499662,1.804775,41.403670,0.743143,5.086185,51.537435
12357,Zimbabwe,2018,2.388530,1.822573,40.988712,0.517995,4.383768,50.101578
12358,Zimbabwe,2019,2.375002,1.774098,40.975937,0.686748,4.473397,50.285182
12359,Zimbabwe,2020,2.333349,1.764239,40.122208,0.644991,4.382142,49.246928

In [54]:
consumption_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9892 entries, 0 to 12359
Data columns (total 8 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Country                                           9892 non-null   object
 1   Year                                              9892 non-null   int64
 2   Other Meat Consumption (kg/capita/year)           9889 non-null   float64
 3   Sheep and Goat Meat Consumption (kg/capita/year)  9892 non-null   float64
 4   Beef Meat Consumption (kg/capita/year)            9892 non-null   float64
 5   Pig Meat Consumption (kg/capita/year)             9613 non-null   float64
 6   Poultry Meat Consumption (kg/capita/year)         9892 non-null   float64
 7   Total Meat Consumption(kg/capita/year)            9892 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 695.5+ KB

## Merge Production and Consumption Datasets

In [55]:
# Asumiendo que 'production_data' es tu DataFrame de producción de carne
# y 'consumption_data' es tu DataFrame de consumo de carne con la nueva columna total añadida

# Uniendo los dos conjuntos de datos
combined_data = pd.merge(production_data, consumption_data, on=['Country', 'Year'], how='outer')

# Guardando el conjunto de datos combinado en un archivo CSV
combined_data.to_csv("../data/processed/combined_meat_data.csv", index=False)

In [56]:
combined_data

,Country,Year,Game Meat Production (tonnes),Horse Meat Production (tonnes),Camel Meat Production (tonnes),Sheep and Goat Meat Production (tonnes),Beef and Buffalo Meat Production (tonnes),Pigmeat Production (tonnes),Poultry Meat Production (tonnes),Total Meat Production (tonnes),Other Meat Consumption (kg/capita/year),Sheep and Goat Meat Consumption (kg/capita/year),Beef Meat Consumption (kg/capita/year),Pig Meat Consumption (kg/capita/year),Poultry Meat Consumption (kg/capita/year),Total Meat Consumption(kg/capita/year)
0,Afghanistan,1961,4000.0,NaN,3600.00,73220.0,43000.0,NaN,5600.0,129420.00,0.865845,8.332486,4.889479,NaN,0.641744,14.729554
1,Afghanistan,1962,4000.0,NaN,4030.74,72375.0,45800.0,NaN,6000.0,132205.74,0.896969,8.072717,5.106605,NaN,0.672726,14.749017
2,Afghanistan,1963,5000.0,NaN,5031.36,75530.0,47250.0,NaN,6160.0,138971.36,1.091328,8.251259,5.160862,NaN,0.673156,15.176605
3,Afghanistan,1964,5000.0,NaN,4680.00,79750.0,48000.0,NaN,6400.0,143830.00,1.030673,8.520909,5.132955,NaN,0.683714,15.368251
4,Afghanistan,1965,6000.0,NaN,4320.00,84375.0,48700.0,NaN,6800.0,150195.00,1.082147,8.820517,5.094256,NaN,0.714625,15.711545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11576,Netherlands Antilles,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.395924,1.583695,2.362974,12.694702,40.013447,57.050742
11577,Netherlands Antilles,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.442357,1.491373,2.919553,12.215361,37.012604,54.081248
11578,Netherlands Antilles,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.355799,1.302479,2.299987,13.024789,34.849250,51.832304
11579,Netherlands Antilles,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.134127,1.673398,2.146037,13.508534,39.912450,57.374545
11580,Netherlands Antilles,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.346670,1.791129,3.164970,15.349783,40.560406,61.212958